Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1701025389997/work
Jinja2==3.1.3
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1695367434228/work
PyNaCl==1.5.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373428874/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
SciPy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1700812469549/work/dist/scipy-1.11.4-cp310-cp310-linux_x86_64.whl#sha256=136e231ccb8768e60c17ed60f2c2423262d3dfd8136f373e715db9dd77617e41
Werkzeug==3.0.1
accelerate @ file:///home/conda/feedstock_root/build_artifacts/accelerate_1692799362530/work
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
apex @ file:///apex
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-timeout==4.0.3
attrs==23.1.0
awscli @ file:///home/conda/feedstock_root/build_artifacts/awscli_1701109684496/work
bcrypt==4.0.1
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1696148805003/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1699566645499/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1701103331217/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1701094668533/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764671472/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1695626339626/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179353105/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
cloudpickle==2.2.1
cmake==3.27.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1669907009957/work
conda==23.1.0
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1669733752472/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1696033974939/work
contextlib2==21.6.0
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1699041363598/work
cryptography==42.0.5
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1695443485440/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1695534290310/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepspeed @ https://aws-deepspeed-zero-2d-binaries.s3.us-west-2.amazonaws.com/r2.0.0/20230407-184728/1ea3d4b6aa41fe66277daacbb78b3743a310d85a/deepspeed-0.6.1%2B1ea3d4b-py3-none-any.whl#sha256=f59834b5a39738f4f180757dbe8550dfd8fbcc97cd863bc0ee362d1ab81e3873
dgl==1.1.2+cu118
dill==0.3.7
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1667993608396/work
dropout-layer-norm @ file:///root/flash-attention/csrc/layer_norm
einops==0.7.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastai @ file:///home/conda/feedstock_root/build_artifacts/fastai_1697349981101/work
fastcore @ file:///home/jhoward/mambaforge/conda-bld/fastcore_1680034914245/work
fastdownload @ file:///home/jhoward/mambaforge/conda-bld/fastdownload_1657219113869/work
fastprogress @ file:///home/jhoward/mambaforge/conda-bld/fastprogress_1658473398631/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
flash-attn==0.2.8
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1700736810238/work
frozenlist==1.4.0
fsspec==2023.10.0
ft-attention @ file:///root/flash-attention/csrc/ft_attention
fused-dense-lib @ file:///root/flash-attention/csrc/fused_dense_lib
fused-softmax-lib @ file:///root/flash-attention/csrc/fused_softmax
gevent==23.9.1
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808654411/work
google-pasta==0.2.0
greenlet==3.0.1
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1696885380106/work
hjson==3.1.0
huggingface-hub==0.19.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1696854106455/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
inotify-simple==1.2.1
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1698244021190/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701092366260/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonpatch==1.33
jsonpointer==2.4
jsonschema-specifications==2023.11.1
jsonschema==4.20.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1698673647019/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379902431/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1692866066721/work/libmambapy
lightning-utilities==0.10.0
lit==17.0.5
llvmlite==0.41.1
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1692866066721/work/mamba
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1695328794692/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/mpi4py_1697529117134/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.0.4
multiprocess==0.70.15
munkres==1.1.4
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1695449783955/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
ninja==1.11.1.1
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1699456635499/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1700874489424/work/dist/numpy-1.26.2-cp310-cp310-linux_x86_64.whl#sha256=9f207f63640bae702eaed2f3115d56073e2ca9b1776c70f4a44d290a1dbcd21f
opencv-python==4.8.1.78
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1699670119051/work
paramiko==3.4.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathos==0.3.1
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1687286298811/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1699715570510/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1698272730927/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
pox==0.3.3
ppft==1.7.6.7
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1695644760607/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1699963054032/work
protobuf==3.20.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1695367094274/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyOpenSSL==24.0.0
pyarrow==14.0.1
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1694615621498/work
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1695367014606/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1695367014606/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1666836542287/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1700669197061/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1700663989698/work
pyfunctional==1.4.3
pyinstrument-cext==0.2.4
pyinstrument==3.4.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytorch-lightning==2.1.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1698062401223/work
referencing==0.31.0
regex==2023.10.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
retrying==1.3.4
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1700160075651/work/dist
rotary-emb @ file:///root/flash-attention/csrc/rotary
rpds-py==0.13.1
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1678272977710/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1670412719074/work
s3fs==0.4.2
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1701098595016/work
safetensors==0.4.1
sagemaker-experiments==0.1.45
sagemaker-pytorch-training==2.8.1
sagemaker-training==4.7.4
sagemaker==2.198.0
schema==0.7.5
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1698224870717/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1696262444380/work
shap @ file:///home/conda/feedstock_root/build_artifacts/shap_1696879267542/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer @ file:///home/conda/feedstock_root/build_artifacts/slicer_1608146800664/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smart-sifting @ https://smart-sifting-release.s3.amazonaws.com/pytorch-training/smart_sifting-1.0-py3-none-any.whl#sha256=35274bf92f27f1cc4a392a005bcc918e76c5960b0109104a9da021a6e037f7e7
smclarify==0.5
smdebug @ file:///tmp/sagemaker-debugger
smdebug-rulesconfig==1.0.1
smdistributed-dataparallel @ https://smdataparallel.s3.amazonaws.com/binary/pytorch/2.0.1/cu118/2023-10-23/smdistributed_dataparallel-2.0.1-cp310-cp310-linux_x86_64.whl#sha256=6ae93db4d6292acceb71d7401f6fd1a77036e0aba8fdb892ac05432e47a5aff3
smdistributed-modelparallel @ https://sagemaker-distributed-model-parallel.s3.us-west-2.amazonaws.com/pytorch-2.0.0/build-artifacts/2023-04-14-20-14/smdistributed_modelparallel-1.15.0-cp310-cp310-linux_x86_64.whl#sha256=5a772776a6a280581e452208c62d8ca20b0f6d4d2c59ec294f5402dc5b89b1f1
smppy @ file:///root/smppy-0.3.319-cp310-cp310-linux_x86_64.whl#sha256=6a672b6d637df405a1a3b37b91813ab45c05289d0b019bebccffe008d143eccf
smprof @ https://smppy.s3.amazonaws.com/pytorch/cu118/smprof-0.3.334-cp310-cp310-linux_x86_64.whl#sha256=55201e107245fd52f4e6039f96bed0b099fe52d063db1d84b7003efe75d4b36c
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1699194962107/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1695653949688/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1696548122882/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate==0.9.0
tblib==1.7.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1695623169038/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tokenizers==0.15.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==2.0.1
torchaudio==2.0.2
torchdata @ file:///opt/conda/conda-bld/torchdata_1686296981053/work
torchmetrics==1.2.0
torchnet==0.0.4
torchtext==0.15.2
torchvision==0.15.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1695373560918/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1701095650114/work
transformers==4.38.2
triton==2.0.0.dev20221202
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1683029246636/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1695847980273/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1697813446430/work
visdom==0.2.4
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1686131297168/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
websocket-client==1.6.4
xentropy-cuda-lib @ file:///root/flash-attention/csrc/xentropy
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1698325309404/work
yarl==1.9.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zope.event==5.0
zope.interface==6.1
zstandard==0.22.0
