# launch_configs.yaml
# All training jobs use ml.g4dn.xlarge spot instances

baseline_test:
  instance_type: ml.g4dn.xlarge
  instance_count: 1
  volume_size_gb: 50
  use_spot: true
  max_run_seconds: 7200   # 2 hours
  max_wait_seconds: 7200  # Wait up to 2 hours for spot instance
  base_job_name_prefix: "baseline-test-{{instrument}}"
  region: eu-west-2

smoke_test_gpu:
  instance_type: ml.g4dn.xlarge
  instance_count: 1
  volume_size_gb: 50
  use_spot: true
  max_run_seconds: 7200   # 2 hours
  max_wait_seconds: 7200  # Wait up to 2 hours for spot instance
  base_job_name_prefix: "mamba-smoke-{{instrument}}"
  region: eu-west-2
