gymnasium
stable-baselines3[extra]
mamba-ssm
causal-conv1d
packaging
pandas
numpy
ta
scikit-learn
hmmlearn
numba
optuna
hydra-core
omegaconf
quantstats
matplotlib
seaborn
plotly
kaleido
IPython
joblib
tqdm
PyYAML
